*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    position: sticky;
    top: 0px;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
/* logo */
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    margin-right: 1px;
    height: 50px;
    width: 100%;
}
/* animation */
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/* address box */
.nav-address{
    margin: 5px 2px 5px 2px;
    padding: 9px 9px;
}
.add-first{
    color: #CCCCCC;
    font-size: 13px;
}
.add-sec{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding-left: 4px;
}
.add-icon{
    display: flex;
    /* align-items: center; */
}
/* search bar */
.nav-search{
    display: flex;
    width: 620px;
    height: 38px;
    justify-content: space-evenly;
    padding: 10px 4px 10px 3px;
    flex-grow: 1;
    flex-shrink: 1;
}
.search-input{
    padding: 7px 10px 10px 0px;
    font-size: 1rem;
    width: 100%;
    border:none;
}
.search-icon{
    height: 38px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #404242fc;
    background-color: #FEBD69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-select{
    background-color: #e6e6e6;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 5px;
    border: none;
}
/* language */
.language{
    display: flex;
    height: 50px;
    width: 72px;
    margin-left: 1px;
    padding-left: 9px;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.flag{
    height: 16.2px;
    width: 21.6px;
    margin: 0px 2px 1px 0px;
    /* padding-bottom: 1px; */
    background-image: url(Indian-flag.jpg);
    background-size: cover;
}
.lang-dropdown{
    font-size: 14px;
    background-color: #0f1111;
    color: white;
    border: none;
    font-weight: bold;
}
/* account dropdown */
.nav-acc{
    width: 140px;
    height: 50px;
    /* padding: 0px 9px 10px 9px; */
    padding-left: 9px;
    padding-right: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.greeting{
    font-size: small;
}
.acc-list{
    background-color: #0f1111;
    color:white;
    border: none;
    font-weight: bold;
    font-size: 14px;
}
/* Return option */
.return-option{
    width: 76px;
    height: 50px;
    /* padding-left: 9px;
    padding-right: 9px; */
    padding: 0px 9px 0px 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.returns{
    font-size: small;
}
.orders{
    font-size: 14px;
    font-weight: bold;
}
/* Shopping cart option */
.cart-option{
    width: 84px;
    height: 50px;
    /* padding:0px 9px 0px 9px; */
    margin-right: 11px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon{
    font-size: 1.5rem;
}
.cart-text{
    font-size: 14px;
    font-weight: bold;
}
/* panel */
.panel{
    height: 39px;
    background-color: #232f3e;
    color: white;
    display: flex;
}
/* All - panel */
.panel-all{
    display: flex;
    width: fit-content;
    height: 28;
    justify-content: center;
    align-items: center;
    padding: 8px 9px;
    margin: 2px 0px 2px 0px;
}
.menu-icon{
    font-size: medium;
}
.panel-text{
    padding-left: 5px;
    font-weight: 700;
}
/* panel options */
.panel-ops{
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    align-items: center;
    font-size: 0.9rem;
}
.deals-panel{
    margin: 5px 0px 6px 0px;
    padding: 8px 9px;
}
.customer-service{
    margin: 5px 0px 6px 0px;
    padding: 8px 9px;
}
.registry{
    margin: 5px 0px 6px 0px;
    padding: 8px 9px;
}
.gift-card{
    margin: 5px 0px 6px 0px;
    padding: 8px 9px;
}
.sell{
    margin: 5px 0px 6px 0px;
    padding: 8px 9px;
}
/*hero section */
.hero-section{
    height: 400px;
    background-image: url(hero_image.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    height: 20px;
    width: 95%;
    background-color: #f5f6f6;
    color: var(--__N4QdCheV6mGo, #0f1111);
    padding: 10px 14px;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.hero-message a{
    color: var(--__N4QdChsbGN6j, #007185);
    text-decoration: none;
}
/* content section */
.content{
    height: 445px;
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 420px;
    width: 307px;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 2px solid black; */
    background-color: white;
}

h2{
    margin: 20px;
    margin-left: 0px;
    font-size: 21px;
}
.box-text{
    height: 5%;
    margin-left: 0px;
    margin-top: 18px;
    font-size: 0.8rem;
}
.box-text a{
    text-decoration: none;
    color:#2162a1;
}
.box1-image{
    height: 300px;
    background-image: url(box1_image.jpg);
    background-size: cover;
}
.box2-image{
    height: 300px;
    background-image: url(box2_image.jpg);
    background-size: cover;
}
.box3-image{
    height: 300px;
    background-image: url(box3_image.jpg);
    background-size: cover;
}
.box4-image{
    height: 300px;
    background-image: url(box4_image.jpg);
    background-size: cover;
}
.box5-image{
    height: 300px;
    background-image: url(box5_image.jpg);
    background-size: cover;
}
.box6-image{
    height: 300px;
    background-image: url(box6_image.jpg);
    background-size: cover;
}
.box7-image{
    height: 300px;
    background-image: url(box7_image.jpg);
    background-size: cover;
}
.box8-image{
    height: 300px;
    background-image: url(box8_image.jpg);
    background-size: cover;
}
/* back to top */
.empty1{
    height: 25px;
    background-color: #e2e7e6;
}
.footer-panel{
    height: 650px;
    background-color: #232F3E;
}
.back-to-top{
    height: 19px;
    background-color: #37475A;
    padding: 15px 0px;
    color: white;
    text-align: center;
    font-size: 0.85rem;
}
.details-panel{
    /* background-color: #0f1111; */
    height: 350px;
    display: flex;
    justify-content: center;
}
.empty-div{
    width: 100px;
    height: 70%;
}
h4{
    margin-top: 6px;
    margin-bottom: 14px;
}
.list{
    display: block;
    color: #dddddd;
    margin-top: 50px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    height: fit-content;
}
li{
    list-style: none;
    font-size: 0.89rem;
    line-height: 170%;
}
.details-panel2{
    height: 68px;
    padding:20px 78.8px;
    /* margin:10px 0px; */
    border-top: 1px solid #3a4553;
    display: flex;
    justify-content: center;
}
.footer-logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 40px;
    width:100px;
}
.footer-lang{
    height: fit-content;
    width: fit-content;
    color: #dddddd;
    font-size: 0.81rem;
    border:1px solid #848688;
    border-radius: 3px;
    padding: 10px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    padding-left: 7px;
    padding-right: 7px;
}
.footer-flag
{
    height: 12px;
    width: 18px;
    background-image: url(Indian-flag.jpg);
    background-size: cover;
}
.details-panel3{
    height: 200px;
    /* margin-top: 30px; */
    padding: 30px 0px;
    background-color: #131a22;
    color: #dddddd;
}
table{
    display: flex;
    justify-content: center;
    
}
table, td{
    padding-left: 100px;
    padding-bottom: 20px;

}
.list1{
    line-height: normal;
    font-size: 12px;
    color: #999999;
}
.copyrights-pages{
    padding: 10px 0px 30px;
    text-align: center;
    font-size: 12px;
}

.pages a{
    padding-left: 8px;
}
